body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    text-decoration: underline;
}

h1 a:visited {
    color: inherit;
}

p {
    max-width: 480px;
}
